:global(.Typist) {
  white-space: nowrap;
}

:global(.Cursor--blinking) {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 150px;
}

.name {
  font-size: 100px;
}

.description {
  font-size: 18px;
  text-align: center;
}

.slider {
  width: 260px;
  margin: 0 auto;
}

.others {
  margin-top: 5px;
  text-align: center;
  text-decoration: underline;
}

.aprilfoolsday {
  animation: rotate 2s infinite ease-out;
}

@keyframes rotate {
  0% { transform: rotate(360deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 200px;
  }

  .logo {
    height: 300px;
  }

  .description {
    font-size: 20px;
  }

  .slider {
    width: 560px;
  }
}
