.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.ground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #050505;
  z-index: -10;
}

.wrapper {
  flex: 1;
  color: #eee;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
