doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/amazeui/dist/css/amazeui.min.css')
      link(rel='stylesheet', href='/components/css/style.css')
    block js
      script(src='/components/react/react.min.js')
      script(src='/components/amazeui-react/dist/amazeui.react.min.js')
      if env == 'development'
        script(src='http://localhost:35729/livereload.js')
  body
    block content
